body{
    width:100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  
    background-image: url(toys.svg);
    background-position: top;
    background-repeat: repeat-y;
    background-size: contain;
}

/****************
classes for embedding an image ***/
.object-fit_fill { 
   object-fit: fill; 
 }
 .object-fit_contain { 
    object-fit: contain; 
 }


 .resp_img{
    width:100%;
    height: auto;
    position:relative;
    left:0;
 }
 /********************/



   h1.titleItem{
    display: block;
    font-family: 'Lobster', serif;
    font-size: 4vw;
    
    margin:0;
    text-align: center;
    padding: 0; 
    font-weight:bolder;
  
 }

 h3.text{
    display: block;
   padding: 0;
   font-family: 'Ubuntu', sans-serif;
   font-size: 2.6em;
   text-align: center;
  
   width:100%; 
   margin: 1em 0 1em;
}

p.text{
   font-family: 'Ubuntu', sans-serif;
    margin:0 0 1em 0;
    padding:0;
    text-align: justify;
     
   }
   
   p.text::first-letter{
      margin-left:5vw;
   }

   em.highlight{
      font-weight: bold;
      font-style: normal;
      
   }

   ul.text{
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.6em;
      list-style-image: url(bulletList.svg);
      margin:1vw 0 2vw 0;
       
      list-style-position: inside;
   }
   ul.text li{
      margin-bottom: 0.4em;
      margin-left:1em;
   }

/***    G R I D    ***********/
/**grid layout and items*/
.pageWrapper{
  display:grid;
  row-gap:0;
  column-gap:0;
  padding:0;
  border: 1px dashed red;
  background-color:rgba(255, 240, 245, 0.7);
}

.pageTitle, .pageImage, .mainContent {
  /*  border: 1px solid #006400;*/
    /*font-family: 'Times New Roman', Times, serif;*/
    padding: 2vw;
  
   
}

.navigation {
    padding: 1vw;
    font-size: 2em;
}



.pageTitle{
    grid-row:3/7;
    grid-column: 2/7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    z-index: 100;
    background-color:rgba(250, 240, 140, 0.8);
   
}

.navigation{
    grid-row: 2/4;
    grid-column: 11/17;
    display:flex;
   flex-flow: row nowrap; 
      justify-content: flex-end;
      align-items: center;
      margin: 0;
      background-color:none;
       
}


.navItem {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
   color:#0E442F;
   font-size:1.3em;
   cursor:pointer;
   padding:1.5vw;
   margin:0 0 0 1em;
   border:3px solid #80e050;
  /* background-color:#F0E68C;*/
}

.navItem>div{
   font-family: 'Ubuntu', sans-serif;
   padding:0;
   margin:0;
   color:inherit;
  
}




.navItem:hover{
   color: orange;
   transition-duration: 500ms;
   border:2px solid orange;
}

.pageImage{
    grid-row: 5/9;
    grid-column: 9/18;
}

.illustration_vector{
   width:100%;
   height:auto;
   background-color: white;
}


.mainContent{
    grid-row:11/14;
    grid-column: 2/13;
    padding:1em;
    background-color:rgba(250, 240, 140, 0.8);
}

.footerSection{
    grid-row: 13/17;
    grid-column: 14/18;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-image: url(log_rus.svg);
    border:none;
}
/*new*/
p.text, ul.text{
   font-size: 1.0em;
   line-height:1.5em;
}


h3.text{
   font-size: 1.2em;
}


 /***************************************
 ****************************************************
  **MEDIA QUERIES */
  @media only screen and (max-width: 480px) and (orientation:portrait) {

   .pageImage{
      overflow:hidden;
   }

   .resp_img{
      
      top:0;
      left:0;
   }
    .navItem>div {
       font-size:0.5em;
     }

     .navItem{
      padding:0.25em;
   }
 
    h1.titleItem{
       font-size: 2em;
    }
 
   .pageTitle{
      background-color: rgba(255, 240, 245, 0.0);
   }
 
    
 
   h3.text{
       padding:2.5vw 3.7vw 2vw 3.7vw;
     }
 
     .pageWrapper{
        grid-template-columns: repeat(19, 5.26vw);
        grid-template-rows: repeat(11, 5.26vw) auto repeat(6, 5.26vw);
     }
 
     .pageImage{
        height:50vw;
      }
 
  }
 
 
 @media only screen and (max-width: 480px) and (orientation: landscape) {

   .pageTitle{
      background-color: rgba(255, 240, 245, 0.0);
   }
   
   .pageImage{
      overflow:hidden;
   }

   .resp_img{
      
      top:0;
      left:0;
   }
  
    .navItem>div {
       font-size:0.5em;
     }

     .navItem{
      padding:0.25em;
   }
 
    h1.titleItem{
       font-size: 2em;
    }
  
      
 
     .pageWrapper{
        grid-template-columns: repeat(19, 5.26vw);
        grid-template-rows: repeat(11, 5.26vw) auto repeat(6, 5.26vw);
     }
   
     .pageImage{
      height:50vw;
   }
 
 }
 
 @media only screen and (min-width: 480px) and (max-width: 576px) and (orientation: landscape) {

   .pageImage{
      overflow:hidden;
   }

   .resp_img{
       
      top:0;
      left:0;
   }
    
    .navItem>div {
       font-size:0.5em;
     }

     .navItem{
      padding:0.25em;
   }
 
    h1.titleItem{
       font-size: 6vw;
    }
 
 
 
     .pageImage{
      height:50vw;
   }
    
  
 }
 
 @media only screen and (min-width: 480px) and (max-width: 576px) and (orientation:portrait){

   .pageImage{
      overflow:hidden;
   }

   .resp_img{
      
      top:0;
      left:0;
   }
    
   .navItem{
      padding:0.25em;
   }
    
    .navItem>div{
       font-size:0.5em;
     }
 
    h1.titleItem{
       font-size:6vw;
    }
 
  
 
    .pageImage{
      height:50vw;
   } 
  
 }
 
 @media only screen and (min-width: 576px) and (max-width: 768px) and (orientation: landscape) {

   .pageImage{
      overflow: hidden;
   }
   
   .resp_img{
      
      top:0%;
      left:0;
   }
    
    .navItem>div {
       font-size:0.6em;
     }
 
    h1.titleItem{
       font-size: 4vw;
    }
 
 
       
 }
 
 @media only screen and (min-width: 576px) and (max-width: 768px) and (orientation: portrait) {

   .pageImage{
      overflow: hidden;
   }

   .resp_img{
       
      top:0%;
      left:0;
   }
 
    .navItem>div {
       font-size:0.6em;
     }
 
    h1.titleItem{
       font-size: 4vw;
    }
 
 
 
 }
 
 
 
 @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

   .pageImage{
      overflow: hidden;
   }
 
    .navItem>div {
       font-size:0.6em;
     }
 
    h1.titleItem{
       font-size: 4vw;
    }
 
  
    
    .resp_img{
      top:0%;
      left:0;
   }
 
       
   
 
 }
 
 @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

   .pageImage{
      overflow: hidden;
   }

   .resp_img{
      top:0%;
      left:0;
   }
   
    .navItem>div {
       font-size:0.6em;
     }
 
    h1.titleItem{
       font-size: 4vw;
    }
 
 
  
 
 }
 
 
 @media only screen and (min-width: 1024px) and (max-width: 1280px) {

   .pageImage{
      overflow: hidden;
   }
     
   .resp_img{
      top:0%;
      left:0;
   }
 
    .navItem>div {
       font-size:0.6em;
     }
 
     h1.titleItem{
       font-size: 3.8vw;
    }
     
  
 
 
 }
 
 @media only screen and (min-width: 1281px) {

   .pageImage{
      overflow: hidden;
   }
 
   .resp_img{
      top:0%;
      left:0;
   }
  
    .navItem>div {
      font-size:0.6em;
    }
 
    h1.titleItem{
       font-size: 4vw;
    }
 
   
    
 
  
   
 }

 /****media queries for the GRID*/
@media only screen and (max-width:576px) {
    .pageWrapper{
        display:flex;
        justify-content: center;
        align-items: space-between;
        flex-flow: column nowrap;
        padding: 1vw;
     }

     .pageTitle, .navigation, .mainContent, .footerSection{
         margin:3vw;
         padding:1vw 7vw 1vw 7vw;
     }

     .pageImage{
      margin:3vw;
      padding:1vw 0 1vw 0;
     }
     .footerSection{
        height:50vw;
     }
}



 @media only screen and (min-width: 576px) {

    .pageWrapper{
      grid-template-columns: repeat(27, 3.7vw) ;
        grid-template-rows: repeat(19, 3.7vw) auto repeat(14, 3.7vw);
     }

     .pageTitle{
        grid-row:4/11;
        grid-column: 2/11;
      
    }
    
    .navigation{
        grid-row: 1/4;
        grid-column: 16/27;
    }
    
    .pageImage{
        grid-row:9/16;
        grid-column: 7/25;
    }
    
    .mainContent{
        grid-row:18/27;
        grid-column: 4/27;
        padding:2em;
    }
    
    .footerSection{
        grid-row: 28/32;
        grid-column: 22/26;
    }
 }

 