/*--Author: Andrii Androsovych--*/

body{
    width:100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  
 background-image: url(toys.svg);
 background-position: center;
 background-repeat: repeat-y;
 background-size:contain;
}

.container-iframe {
   position: relative;
   overflow: hidden;
   width: 100%;
   padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
 }

 .responsive-iframe {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   height: 100%;
 }

/****************
classes for embedding an image ***/
.object-fit_fill { 
   object-fit: fill; 
 }
 .object-fit_contain { 
    object-fit: contain; 
 }


 .resp_img{
    width:100%;
    height: auto;
    position:relative;
    left:0;
 }
 /********************/



   h1.titleItem{
    display: block;
    font-family: 'Lobster', serif;
    font-size: 4vw;
 
    margin:0;
    text-align: center;
    padding: 0; 
    font-weight:bolder;
    margin-bottom: 1vw;
 }

 h3.text{
    display: block;
   padding: 0;
   font-family: 'Ubuntu', sans-serif;
   font-size: 2.6em;
   text-align: center;
 
   width:100%; 
   margin: 1em 0 1em;
}

p.text{
    font-family: 'Ubuntu', serif;
    margin:0 0 1em 0;
    padding:0;
    text-align: justify;
 
   }
   
   p.text::first-letter{
      margin-left:5vw;
   }

   .highlight{
      font-weight: bold;
      font-style: normal;
      
      letter-spacing: 0.2em;
   }

   ul.text{
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.6em;
      list-style-image: url(bulletList.svg);
      margin:1vw 0 2vw 0;
      
      list-style-position: inside;
   }
   ul.text li{
      margin-bottom: 0.4em;
      margin-left:1em;
   }
/*a schedule table*/
   table.scheduleTable {
      border: none;
      width: 100%;
      text-align: center;
      border-collapse: collapse;
    }
    table.scheduleTable td, table.scheduleTable th {
      border: 0px solid #AAAAAA;
      padding: 3px 2px;
      font-family: 'Inter', serif;
    }
    table.scheduleTable tbody td {
     /* font-size: 13px;*/
    
    }
    table.scheduleTable tr:nth-child(even) {
      background: #FFFF00;
    }
    table.scheduleTable thead {
      background: #556B2F;
      background: -moz-linear-gradient(top, #7f9063 0%, #667943 66%, #556B2F 100%);
      background: -webkit-linear-gradient(top, #7f9063 0%, #667943 66%, #556B2F 100%);
      background: linear-gradient(to bottom, #7f9063 0%, #667943 66%, #556B2F 100%);
      border-bottom: 2px solid #444444;
    }
    table.scheduleTable thead th {
      /*font-size: 15px;*/
      font-weight: bold;
      color: #FFFFFF;
      text-align: center;
    }



    table{
       max-width: 99%;
    }
/*timetable table*/
.tg1-noborder{
   border:none;

}

.tg1-border-bottom{
   border-bottom:2px solid #aaaaaa;
}
table.tg1  {
   width:100%;
   border-collapse:collapse;
   border-spacing:0;
   margin:0;
   padding:0;
   
}
.tg1 td{
   color: #0E442F;
   
   font-family: 'Inter', serif;
    
  overflow:hidden;
  padding:1em;
  word-break:normal;
}
.tg1 th{
   border-color:black;
   color: #0E442F;
   border-style:solid;
   border-width:1px;
   font-family: 'Inter', serif;
    
  font-weight:bold;
  overflow:hidden;
  padding:1em;
  word-break:normal;
}
.tg1 .tg-m63i{
   background-color:#ce6301;
   color:#ffffff;
   text-align:center;
   vertical-align:middle;
}
.tg1 .tg-o1hw{
   background-color:#ffccc9;
   color:#000000;
   text-align:center;
   vertical-align:middle;
}
.tg1 .tg-om70{
   background-color:yellow;
   text-align:center;
   vertical-align:middle;
}
.tg1 .tg-gc14{
   background-color:#c0FF00;
   text-align:center;
   vertical-align:middle;
}
.tg1 .tg-zzh0{
   background-color:#AFEEEE;
   text-align:center;
   vertical-align:middle;
}
.tg1 .tg-dy7k{
   background-color:#FFD700;
   color:#000000;
   text-align:center;
   vertical-align:middle;
}
.tg1 .tg-ejge{
   background-color:yellow;
   text-align:center;
   vertical-align:middle;}

   .tg1>tbody>tr>td, .tg1>thead>th{
      font-family: 'Inter', serif;
   }

   /*******************
   menu eat table*/
   .tg_mnu  {
      border-collapse:collapse;
      border-spacing:0;
      margin: 1vw 0 0 0;
   }
.tg_mnu td{
   
   font-family:'Inter', serif;
   
  overflow:hidden;
  padding:0 0.5em 0.8em 0.5em;
  word-break:normal;
}
.tg_mnu th{
 
   font-family:'Inter', serif;
  
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}
.tg_mnu .tg-cly1{
   text-align:left;
   vertical-align:middle;
}

.tg_mnu .tg-cly1-centered{
   text-align:center;
   vertical-align:middle;
}
.tg_mnu .tg-0lax{
   text-align:left;
   vertical-align:top;
}

   /**menu eat styling*/
   .eatMenuContainer{
      display:flex;
      flex-flow:row wrap;
      justify-content: center;
      align-items: center;
      align-content:stretch;
   }

   .eatMenuContainer>.item{
   display:block;
   width:320px;
   height:470px;
   border:1px solid gray;
   padding:0.3em;
   margin:0.5vw;
   }

   .eat_table_normal_text{
      font-size:0.9em;
      font-weight: normal;
      line-height: 1.3em;
   }

   .eat_table_bold_text{
     font-size:0.9em;
     font-weight: bold;
   }

   .eat_table_title{
     font-size:1.1em;
     font-weight: bold;
   }

   .underline{
      text-decoration: underline;
   }



/***    G R I D    ***********/
/**grid layout and items*/
.pageWrapper{
  display:grid;
  row-gap:0;
  column-gap:0;
  padding:0;
  
  background-color:rgba(255, 240, 245, 0.7);
}

.pageTitle, .pageImage, .mainContent {
  /*  border: 1px solid #006400;*/
    /*font-family: 'Times New Roman', Times, serif;*/
    padding: 2vw;
   
   
}

.navigation {
    padding: 1vw;
    font-size: 2em;
}



.pageTitle{
    grid-row:3/7;
    grid-column: 2/7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    z-index: 100;
    background-color:rgba(250, 240, 140, 0.8);
   
}

.navigation{
    grid-row: 2/4;
    grid-column: 11/17;
    display:flex;
   flex-flow: row nowrap; 
      justify-content: flex-end;
      align-items: center;
      margin: 0;
      background-color:none;
       
}


.navItem {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
   color:#0E442F;
   font-size:1.3em;
   cursor:pointer;
   padding:0.7em;
   margin:0 0 0 1em;
   border:3px solid #FF7F50;
  /* background-color:#F0E68C;*/
}

.navItem>div{
   font-family: 'Ubuntu', sans-serif;
   padding:0;
   margin:0;
   color:#0E442F;
}

.navItem>div:hover{
   color:orange;
   transition-duration: 500ms;
}


.navItem:hover{
   color: orange;
   transition-duration: 500ms;
}

.pageImage{
    grid-row: 5/9;
    grid-column: 9/18;
}

.illustration_vector{
   width:100%;
   height:auto;
   background-color: white;
}


.mainContent{
    grid-row:11/14;
    grid-column: 2/13;
    padding:1em;
    background-color:rgba(250, 240, 140, 0.8);
}

.footerSection{
    grid-row: 13/17;
    grid-column: 14/18;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-image: url(log_rus.svg);
    border:none;
}

/****props without any changes*/

p.text, ul.text{
   font-size: 1.0em;
   line-height: 1.5em;
 }
 
 
h3.text{
   font-size: 1.2em;
}
 

 /***************************************
  **MEDIA QUERIES */
  @media only screen and (max-width: 480px) and (orientation:portrait) {

   .pageImage{
      overflow:hidden;
   }

   .resp_img{
      
      top:0;
      left:0;
   }
    .navItem>div {
       font-size:0.5em;
     }

     .navItem{
      padding:0.3em;
   }
 
    h1.titleItem{
       font-size: 2em;
    }
 
 
    .pageTitle{
       background-color: rgba(255, 240, 245, 0.0);
    }
   
 
   h3.text{
       padding:2.5vw 3.7vw 2vw 3.7vw;
     }
 
     .pageWrapper{
        grid-template-columns: repeat(19, 5.26vw);
        grid-template-rows: repeat(11, 5.26vw) auto repeat(6, 5.26vw);
     }
 
     .pageImage{
        height:50vw;
      }

      
   table.scheduleTable tbody td, table.scheduleTable thead th,table.eatMenu td,table.eatMenu th, .tg1>tbody>tr td, .tg1>thead th{
      font-size: 0.6em;
      line-height: 1.2em;
   }

       
 
  }
 
 
 @media only screen and (max-width: 480px) and (orientation: landscape) {

   .pageImage{
      overflow:hidden;
   }

   .resp_img{
      
      top:0;
      left:0;
   }
  
   .navItem>div {
      font-size:0.5em;
    }

    .navItem{
     padding:0.3em;
  }
 
    h1.titleItem{
       font-size: 2em;
    }
 
  
 
     .pageWrapper{
        grid-template-columns: repeat(19, 5.26vw);
        grid-template-rows: repeat(11, 5.26vw) auto repeat(6, 5.26vw);
     }
   
     .pageImage{
      height:50vw;
   }

   table.scheduleTable tbody td, table.scheduleTable thead th,table.eatMenu td,table.eatMenu th, .tg1>tbody>tr td, .tg1>thead th{
      font-size: 0.6em;
      line-height: 1.2em;
   }
 }
 
 @media only screen and (min-width: 480px) and (max-width: 576px) and (orientation: landscape) {

   .pageImage{
      overflow:hidden;
   }

   .resp_img{
       
      top:0;
      left:0;
   }
   .navItem>div {
      font-size:0.5em;
    }

    .navItem{
     padding:0.3em;
  }
 
    h1.titleItem{
       font-size: 6vw;
    }
 
 
     
 
     .pageImage{
      height:50vw;
   }

 
table.scheduleTable tbody td, table.scheduleTable thead th,table.eatMenu td,table.eatMenu th, .tg1>tbody>tr td, .tg1>thead th{
   font-size: 0.6em;
   line-height: 1.2em;
}
    
  
 }
 
 @media only screen and (min-width: 480px) and (max-width: 576px) and (orientation:portrait){

   .pageImage{
      overflow:hidden;
   }

   .resp_img{
      
      top:0;
      left:0;
   }
    
   .navItem>div {
      font-size:0.5em;
    }

    .navItem{
     padding:0.3em;
  }
 
    h1.titleItem{
       font-size:6vw;
    }
 
   

    .pageImage{
      height:50vw;
   } 


  
table.scheduleTable tbody td, table.scheduleTable thead th,table.eatMenu td,table.eatMenu th, .tg1>tbody>tr td, .tg1>thead th{
   font-size: 0.6em;
   line-height: 1.2em;
}
  
 }
 
 @media only screen and (min-width: 576px) and (max-width: 768px) and (orientation: landscape) {

   .pageImage{
      overflow: hidden;
   }
   
   .resp_img{
      
      top:0;
      left:0;
   }
    
   .navItem>div {
      font-size:0.5em;
    }

    .navItem{
     padding:0.3em;
  }
 
    h1.titleItem{
       font-size: 4vw;
    }
 
   
 
table.scheduleTable tbody td, table.scheduleTable thead th,table.eatMenu td,table.eatMenu th, .tg1>tbody>tr td, .tg1>thead th{
   font-size: 0.8em;
   line-height: 1.3em;
}
       
 }
 
 @media only screen and (min-width: 576px) and (max-width: 768px) and (orientation: portrait) {

   .pageImage{
      overflow: hidden;
   }

   .resp_img{
       
      top:0;
      left:0;
   }
 
   .navItem>div {
      font-size:0.5em;
    }

    .navItem{
     padding:0.3em;
  }
 
    h1.titleItem{
       font-size: 4vw;
    }
 
   
    
    table.scheduleTable tbody td, table.scheduleTable thead th,table.eatMenu td,table.eatMenu th, .tg1>tbody>tr td, .tg1>thead th{
      font-size: 0.8em;
      line-height: 1.3em;
   }
 
 }
 
 
 
 @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

   .pageImage{
      overflow: hidden;
   }
 
   .navItem>div {
      font-size:0.5em;
    }

    .navItem{
     padding:0.3em;
  }
 
    h1.titleItem{
       font-size: 4vw;
    }
 
  
    
    .resp_img{
      top:0;
      left:0;
   }
 
    
   
    table.scheduleTable tbody td, table.scheduleTable thead th,table.eatMenu td,table.eatMenu th, .tg1>tbody>tr td, .tg1>thead th{
      font-size: 0.8em;
      line-height: 1.3em;
   }
  
 
 }
 
 @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

   .pageImage{
      overflow: hidden;
   }

   .resp_img{
      top:0;
      left:0;
   }
   
   .navItem>div {
      font-size:0.5em;
    }

    .navItem{
     padding:0.3em;
  }
 
    h1.titleItem{
       font-size: 4vw;
    }
  
 
    
    table.scheduleTable tbody td, table.scheduleTable thead th,table.eatMenu td,table.eatMenu th, .tg1>tbody>tr td, .tg1>thead th{
      font-size: 0.8em;
      line-height: 1.3em;
   }
 
 }
 
 
 @media only screen and (min-width: 1024px) and (max-width: 1280px) {

   .pageImage{
      overflow: hidden;
   }
     
   .resp_img{
      top:0;
      left:0;
   }
 
   .navItem>div {
      font-size:0.5em;
    }

    .navItem{
     padding:0.3em;
  }
 
     h1.titleItem{
       font-size: 3.8vw;
    }
     
   
   
  
    table.scheduleTable tbody td, table.scheduleTable thead th,table.eatMenu td,table.eatMenu th, .tg1>tbody>tr td, .tg1>thead th{
      font-size: 1.0em;
      line-height: 1.4em;
   }
 
 }
 
 @media only screen and (min-width: 1281px) {

   .pageImage{
      overflow: hidden;
   }
 
   .resp_img{
      top:0;
      left:0;
   }
  
   .navItem>div {
      font-size:0.5em;
    }

    .navItem{
     padding:0.3em;
  }
 
    h1.titleItem{
       font-size: 4vw;
    }
 
   
  
    table.scheduleTable tbody td, table.scheduleTable thead th,table.eatMenu td,table.eatMenu th, .tg1>tbody>tr td, .tg1>thead th{
      font-size: 1.0em;
      line-height: 1.4em;
   }
   
 }

 /****media queries for the GRID*/
@media only screen and (max-width:576px) {
    .pageWrapper{
        display:flex;
        justify-content: center;
        align-items: space-between;
        flex-flow: column nowrap;
        padding: 1vw;
     }

     .pageTitle, .navigation,  .footerSection{
         margin:3vw;
         padding:1vw;
     }
     .footerSection{
        height:50vw;
     }

     .pageImage{
      margin:3vw;
      padding:1vw 0 1vw 0;
     }

     .mainContent{
          margin:2vw;
         padding: 1em;
     }
}



 @media only screen and (min-width: 576px) {

    .pageWrapper{
      grid-template-columns: repeat(27, 3.7vw) ;
        grid-template-rows: repeat(19, 3.7vw) auto repeat(14, 3.7vw);
     }

     .pageTitle{
        grid-row:4/11;
        grid-column: 2/11;
        
    }
    
    .navigation{
        grid-row: 1/4;
        grid-column: 16/27;
    }
    
    .pageImage{
        grid-row:9/16;
        grid-column: 7/25;
    }
    
    .mainContent{
        grid-row:18/27;
        grid-column: 4/27;
        padding:2em;
    }
    
    .footerSection{
        grid-row: 28/32;
        grid-column: 22/26;
    }
 }

 