body{
    width:100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}

/****************
classes for embedding an image ***/
.object-fit_fill { 
   object-fit: fill; 
 }
 .object-fit_contain { 
    object-fit: contain; 
 }


 
 /********************/


   .navItem {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Ubuntu', sans-serif;
       text-decoration: none;
      color:#0E442F;
      font-size:1.3em;
      cursor:pointer;
      padding:0.5em 0.5em 0.5em 0.5em;
      margin:0;
      border:2px solid red;
      background-color:#F0E68C;
   }

 

   .navItem:hover{
      color: rgb(255, 51, 0);
      transition-duration: 500ms;
   }

   h1.titleItem{
    display: block;
    font-family: 'Lobster', serif;
    font-size: 4vw;
    color:#0E442F;
    margin:0;
    text-align: center;
    padding: 0; 
    font-weight:bolder;
    margin-bottom: 1vw;
 }

 h3.text{
    display: block;
   padding: 0;
   font-family: 'Ubuntu', sans-serif;
   font-size: 2.6em;
   text-align: center;
   color:#0E442F;
   width:100%; 
   margin: 1em 0 1em;
}

p.text{
    font-family: 'Inter', serif;
    margin:0 0 1em 0;
    padding:0;
    text-align: justify;
    color:#0E442F;
   }
   
   p.text::first-letter{
      margin-left:5vw;
   }

   em.highlight{
      font-weight: bold;
      font-style: normal;
      color:#500000;
   }

   ul.text{
      font-family: 'Ubuntu', sans-serif;
      font-size: 1.6em;
      list-style-image: url(../bulletList.svg);
      margin:1vw 0 2vw 0;
      color:#0E442F; 
      list-style-position: inside;
   }
   ul.text li{
      margin-bottom: 0.4em;
      margin-left:1em;
   }

/***    G R I D    ***********/
/**grid layout and items*/
.pageWrapper{
  display:grid;
  row-gap:0;
  column-gap:0;
  padding:0;
  border: 1px dashed red;
  background-color:#FFF0F5;
}

.pageTitle, .pageImage, .mainContent {
  /*  border: 1px solid #006400;*/
    /*font-family: 'Times New Roman', Times, serif;*/
    padding: 2vw;
    font-size: 2em;
   
}

.navigation {
    padding: 1vw;
    font-size: 2em;
}



.pageTitle{
    grid-row:3/7;
    grid-column: 2/7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    z-index: 100;
    background-color:#F0E68C;
}

.navigation{
    grid-row: 2/3;
    grid-column: 11/17;
    display:flex;
   flex-flow: row nowrap; 
      justify-content: space-around;
      align-items: center;
      margin: 0;
      background-color:none;
       
}

.pageImage{
    grid-row: 5/9;
    grid-column: 9/18;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
   
    
}

.illustration_vector{
   width:100%;
   height:auto;
   background-color: white;
}


.mainContent{
    grid-row:11/14;
    grid-column: 2/13;
    padding:1em;
    background-color:#F0E68C;
}

.footerSection{
    grid-row: 13/17;
    grid-column: 14/18;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-image: url(../log_rus.svg);
    border:none;
}

 

 /***************************************
 ****************************************************
  **MEDIA QUERIES */
  @media only screen and (max-width: 480px) and (orientation:portrait) {

    .navItem {
       font-size:0.8em;
     }
 
    h1.titleItem{
       font-size: 12vw;
    }
 
     h3.text{
       font-size: 0.75em;
    }
 
 
    p.text, ul.text{
       font-size: 0.6em;
       line-height: 1.2em;
    }
 
   h3.text{
       padding:2.5vw 3.7vw 2vw 3.7vw;
     }
 
     .pageWrapper{
        grid-template-columns: repeat(19, 5.26vw);
        grid-template-rows: repeat(11, 5.26vw) auto repeat(6, 5.26vw);
     }
 
     .pageImage{
        background-image: url(../img_t480.jpg); 
        height:50vw;
      }
 
  }
 
 
 @media only screen and (max-width: 480px) and (orientation: landscape) {
  
    .navItem {
       font-size:0.8em;
     }
 
    h1.titleItem{
       font-size: 12vw;
    }
 
    h3.text{
       font-size: 0.75em;
    }
    
 
    p.text, ul.text{
       font-size: 0.6em;
       line-height: 1.2em;
    }
 
      
 
     .pageWrapper{
        grid-template-columns: repeat(19, 5.26vw);
        grid-template-rows: repeat(11, 5.26vw) auto repeat(6, 5.26vw);
     }
   
     .pageImage{
       background-image: url(../img_t480.jpg); 
      height:50vw;
   }
 
 }
 
 @media only screen and (min-width: 480px) and (max-width: 576px) and (orientation: landscape) {
    
    .navItem {
       font-size:0.8em;
     }
 
    h1.titleItem{
       font-size: 6vw;
    }
 
    h3.text{
       font-size: 0.75em;
    }
    
   
 
    p.text, ul.text{
       font-size: 0.6em;
       line-height: 1.2em;
    }
 
     
 
     .pageImage{
       background-image: url(../img_t480.jpg);*/
      height:50vw;
   }
    
  
 }
 
 @media only screen and (min-width: 480px) and (max-width: 576px) and (orientation:portrait){
    
    
    .navItem {
       font-size:0.8em;
     }
 
    h1.titleItem{
       font-size:6vw;
    }
 
    h3.text{
       font-size: 0.75em;
    }
    
  
 
    p.text, ul.text{
       font-size: 0.6em;
       line-height: 1.2em;
    }
 
     

    .pageImage{
      background-image: url(../img_t480.jpg);
      height:50vw;
   } 
  
 }
 
 @media only screen and (min-width: 576px) and (max-width: 768px) and (orientation: landscape) {
   
    
    .navItem {
       font-size:0.8em;
     }
 
    h1.titleItem{
       font-size: 5vw;
    }
 
    h3.text{
       font-size: 0.9em;
    }
    
  
 
    p.text, ul.text{
       font-size: 0.6em;
       line-height: 1.2em;
    }
 
     
      .pageImage{
      background-image: url(../img_t576.jpg);
      
   } 
       
 }
 
 @media only screen and (min-width: 576px) and (max-width: 768px) and (orientation: portrait) {
 
    .navItem {
       font-size:0.8em;
     }
 
    h1.titleItem{
       font-size: 5vw;
    }
 
    h3.text{
       font-size: 0.9em;
    }
    
 
    p.text, ul.text{
       font-size: 0.6em;
       line-height: 1.2em;
    }
 
  
   
      .pageImage{
      background-image: url(../img_t576.jpg);
   } 
 
 }
 
 
 
 @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
 
    .navItem {
       font-size:0.8em;
     }
 
    h1.titleItem{
       font-size: 5vw;
    }
 
    h3.text{
       font-size: 0.9em;
    }
    
    
       
    p.text, ul.text{
       font-size: 0.6em;
       line-height: 1.2em;
    }
    
    
    .pageImage{
      background-image: url(../img_t768.jpg);
   }
 
 }
 
 @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
   
    .navItem {
       font-size:0.8em;
     }
 
    h1.titleItem{
       font-size: 5vw;
    }
 
    h3.text{
       font-size: 0.9em;
    }
    
 
    p.text, ul.text{
       font-size: 0.6em;
       line-height: 1.2em;
    }
 
    
 
   .pageImage{
      background-image: url(../img_t768.jpg);
   } 
 
 }
 
 
 @media only screen and (min-width: 1024px) and (max-width: 1280px) {
     
 
    .navItem {
       font-size:0.8em;
     }
 
     h1.titleItem{
       font-size: 3.8vw;
    }
     
    h3.text{
       font-size: 1.1em;
    }
    
 
 
    p.text, ul.text{
       font-size: 0.7em;
       line-height: 1.3em;
    }
    
 
    .pageImage{
      background-image: url(../img_t1280.jpg);
   }
 }
 
 @media only screen and (min-width: 1281px) {
 
  
    .navItem {
      font-size:1em;
    }
 
    h1.titleItem{
       font-size: 4vw;
    }
 
    h3.text{
       font-size: 1.2em;
    }
    
 
    p.text, ul.text{
       font-size: 0.7em;
       line-height:1.3em;
    }

    .pageImage{
       background-image: url(../img_t1920.jpg);
    }
 
 
   
 }

 /****media queries for the GRID*/
@media only screen and (max-width:576px) {
    .pageWrapper{
        display:flex;
        justify-content: center;
        align-items: space-between;
        flex-flow: column nowrap;
        padding: 1vw;
     }

     .pageTitle, .navigation, .pageImage, .mainContent, .footerSection{
         margin:2vw;
         padding:1vw 7vw 1vw 7vw;
     }
     .footerSection{
        height:50vw;
     }
}

 @media only screen and (min-width:576px) and (max-width:1024px) {


    .pageWrapper{
        grid-template-columns: repeat(6, 5.26vw) auto repeat(12, 5.26vw);
        grid-template-rows: repeat(6, 5.26vw) auto repeat(7, 5.26vw) auto repeat(8, 5.26vw);
     }
    
     .pageTitle{
        grid-row:5/9;
        grid-column: 2/10;
    }
    
    .navigation{
        grid-row: 2/4;
        grid-column: 8/18;
    }
    
    .pageImage{
        grid-row: 8/13;
        grid-column: 7/18;
    }
    
    .mainContent{
        grid-row:14/17;
        grid-column: 3/17;
        padding:2em;
    }
    
    .footerSection{
        grid-row: 18/24;
        grid-column: 9/15;

    }
       

 }

 @media only screen and (min-width: 1024px) {

    .pageWrapper{
      grid-template-columns: repeat(6, 5.26vw) auto repeat(13, 5.26vw);
        grid-template-rows: repeat(11, 5.26vw) auto repeat(7, 5.26vw);
     }

     .pageTitle{
        grid-row:4/8;
        grid-column: 3/9;
    }
    
    .navigation{
        grid-row: 2/3;
        grid-column: 11/17;
    }
    
    .pageImage{
        grid-row:7/11;
        grid-column: 7/18;
    }
    
    .mainContent{
        grid-row:12/15;
        grid-column: 2/15;
        padding:2em;
    }
    
    .footerSection{
        grid-row: 15/19;
        grid-column: 14/19;
    }
 }

 